In [2]:
import sqlite3
connection = sqlite3.connect('ruhantest.db')
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS borrowingRecords(
    RecordID INTEGER PRIMARY KEY,
    BookID INTEGER NOT NULL,FOREIGN KEY (BookID) REFERENCES books (BookID),
    BorrowDate DATE NOT NULL DEFAULT (DATE('now')),
    DueDate DATE NOT NULL,
    ReturnDate DATE NOT NULL,
    StudentID INTEGER NOT NULL, FOREIGN KEY (StudentID) REFERENCES students(StudentID)

)''')

cursor.execute('''
 CREATE TABLE IF NOT EXISTS books(
 BookID INTEGER PRIMARY KEY,
 Title TEXT NOT NULL,
 Author TEXT NOT NULL,
 ISBN TEXT NOT NULL,
 PublicationYear INTEGER NOT NULL,
 LibraryID INTEGER NOT NULL,FOREIGN KEY (LibraryID) REFERENCES libraires(LibraryID),
 Status TEXT NOT NULL
 )
''')


cursor.execute( '''
    CREATE TABLE IF NOT EXISTS cafeteria(
    CafeteriaID INTEGER PRIMARY KEY,
    CafeteriaName TEXT NOT NULL,
    Location TEXT NOT NULL,
    OperatingHours TEXT NOT NULL
    )
'''
)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS menuItems(
    ItemID INTEGER PRIMARY KEY,
    ItemName TEXT NOT NULL,
    CafeteriaID INTEGER NOT NULL,FOREIGN KEY (CafeteriaID) REFERENCES cafeteria(CafeteriaID),
    Price DECIMAL(10, 2) NOT NULL,
    Description TEXT NOT NULL
    )
'''
)

OperationalError: near "BorrowDate": syntax error